.carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-track {
    display: flex;
    width: max-content;
}
